@{
	Layout = "/Views/Shared/WebLayout.cshtml";

}


<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a asp-action="Index" asp-controller="Website">Home</a></span> / <span>About</span></p>
			</div>
		</div>
	</div>
</div>


<div class="colorlib-about">
	<div class="container">
		<div class="row row-pb-lg">
			<div class="col-sm-6 mb-3">
				<div class="video colorlib-video" style="background-image: url(~/assets/web/images/about.jpg);">
					<iframe width="540" height="400" src="https://www.youtube.com/embed/J_zv5V2hCzs?si=S73lVvssVJ0h8QzC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="about-wrap">
					<h2>MyImage the top destination for high-quality digital and paint prints.</h2>
					<p>At MyImage, we revolutionize how people cherish their memories. Photographs are moments frozen in time, encapsulating emotions and stories. With a passion for art and design, we create high-quality digital and paint prints, transforming your photos into stunning artworks that enhance your living spaces with elegance and personal significance.</p>
					<p>Our team of skilled artists meticulously crafts each piece, ensuring vibrant, lifelike prints. We offer customization options to tailor each print to your preferences, from size to frame. At [Your Website Name], our dedication to quality and customer satisfaction ensures your memories become timeless pieces of art.</p>
				</div>
			</div>
		</div>
	</div>
</div>



