@model MyImageProject.Models.Contact

@{
	Layout = "/Views/Shared/WebLayout.cshtml";

}

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a asp-action="Index" asp-controller="Website">Home</a></span> / <span>Contact</span></p>
			</div>
		</div>
	</div>
</div>

<div id="colorlib-contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>Contact Information</h3>
				<div class="row contact-info-wrap">
					<div class="col-md-3">
						<p><span><i class="icon-location"></i></span> 222 South 19th Street, <br> Suite 567 New York NY 10020</p>
					</div>
					<div class="col-md-3">
						<p><span><i class="icon-phone3"></i></span> <a>+ 1235 2355 98</a></p>
					</div>
					<div class="col-md-3">
						<p><span><i class="icon-paperplane"></i></span> <a>info@myimage.com</a></p>
					</div>
					<div class="col-md-3">
						<p><span><i class="icon-globe"></i></span> <a asp-action="Index" asp-controller="Website">myimage.com</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="contact-wrap">
					<h3>Get In Touch</h3>
					<form id="contactForm" class="contact-form">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="FirstName" for="fname">First Name</label>
									<input asp-for="FirstName" type="text" id="fname" class="form-control" placeholder="Your firstname" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="LastName" for="lname">Last Name</label>
									<input asp-for="LastName" type="text" id="lname" class="form-control" placeholder="Your lastname" required>
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col-sm-12">
								<div class="form-group">
									<label asp-for="Email" for="email">Email</label>
									<input asp-for="Email" type="text" id="email" class="form-control" placeholder="Your email address" required>
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col-sm-12">
								<div class="form-group">
									<label asp-for="Subject" for="subject">Subject</label>
									<input asp-for="Subject" type="text" id="subject" class="form-control" placeholder="Your subject of this message">
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col-sm-12">
								<div class="form-group">
									<label asp-for="Massage" for="message">Message</label>
									<textarea asp-for="Massage" name="massage" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us" required></textarea>
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col-sm-12">
								<div class="form-group">
									<button type="submit" id="submit" class="btn btn-primary">Send Message</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<div id="map" class="colorlib-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.0361329033!2d-74.30933820251501!3d40.69753995243349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2s!4v1719310235920!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {

	<script src="~/files/web/contact/JSWork.js"></script>
}

