@{
	Layout = "/Views/Shared/WebLayout.cshtml";

}

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a asp-action="Index" asp-controller="Website">Home</a></span> / <span>Gallery</span></p>
			</div>
		</div>
	</div>
</div>

<div class="breadcrumbs-two">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="breadcrumbs-img" style="background-image: url('/assets/web/images/cover-image.jpg');">
					<h2>Gallery</h2>
				</div>
				<div class="menu text-center">
					<p><a href="">New Arrivals</a> <a href="">Best Sellers</a> <a href="">Sale</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="colorlib-featured">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="featured">
					<div class="featured-img featured-img-2" style="background-image: url('/assets/web/images/graphic-design.jpeg');">
						<h2>Graphic</h2>
						<p><a href="" class="btn btn-primary btn-lg">Shop now</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="featured">
					<div class="featured-img featured-img-2" style="background-image: url('/assets/web/images/hand-painting.jpeg');">
						<h2>Hand</h2>
						<p><a href="" class="btn btn-primary btn-lg">Shop now</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="featured">
					<div class="featured-img featured-img-2" style="background-image: url('/assets/web/images/wall-painting.jpeg');">
						<h2>Wall</h2>
						<p><a href="" class="btn btn-primary btn-lg">Shop now</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="colorlib-product">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
				<h2>View All Products</h2>
			</div>
		</div>
		<div class="row row-pb-md">
			@foreach (var item in Model)
			{
				<div class="col-lg-3 mb-4 text-center">
					<div class="product-entry border">
						<a asp-action="Gallery" asp-controller="Website" class="prod-img">
							<img src="@Url.Content("~/assets/web/images/" + item.Image)" style="width:253px; height:300px; class="img-fluid" alt="Free html5 bootstrap 4 template">
						</a>
						<div class="desc">
							<h2><a asp-action="Gallery" asp-controller="Website">@item.GalleryName</a></h2>
							<span class="price">@item.TotalPrice</span>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

